.homepage {
    position: relative;
    margin: 60px 0;
    padding-top: 34%;
    background-image: url('../../img/about/home/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.homepage__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: var(--white-color);
}

.homepage__title {
    margin-bottom: 40px;

    font-size: 4.8rem;
    font-weight: 700;
}

.homepage__link {
    font-size: 2rem;
}

.homepage__link > a {
    color: var(--white-color);

    text-decoration: none;

    transition: all ease 0.2s;
}

.homepage__link > a:hover {
    color: var(--primary-color);
}