.topbar {
    background-color: #f9f8f8;
}

.topbar__wrapper {
    min-height: 40px;
    align-items: center;
}

.support-mail {
    position: relative;

    display: flex;

    font-size: 1.6rem;
}

.login-register-icon,
.address-icon,
.support-mail-icon {
    margin-right: 8px;
    color: #363636;
}

.login-register-link,
.support-mail-link {
    color: #363636;

    text-decoration: none;

    transition: all ease 0.2s;
}

.login-register-link:hover,
.support-mail-link:hover {
    color: var(--primary-color);
}

.support-mail::after {
    position: absolute;
    top: -12px;
    right: -52px;

    z-index: 1;

    display: block;
    height: 40px;
    content: "";

    border-right: 1px solid var(--white-color);
}

.address {
    display: flex;
    margin-left: 48px;

    font-size: 1.6rem;
}

.login-register {
    display: flex;
    justify-content: center;

    font-size: 1.6rem;
}

.topbar--cta > .btn {
    width: 100%;
    padding: 11px 0;
    border-radius: 0;
    
    font-size: 1.6rem;
    font-weight: 500;
}