.blog {
    padding-top: 20px;
    padding-bottom: 100px;
}
.post {
    background-color: var(--white-color);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;

}

.post + .post {
    margin-top: 24px;
}

.post__link {
    display: block;
    text-decoration: none;
}

.post__img {
    width: 100%;
    vertical-align: middle;

    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.post-content {
    padding: 50px 40px;
}

.post__title {
    display: inline-block;
    margin-bottom: 24px;

    color: var(--text-color);

    text-decoration: none;
    font-size: 2.4rem;
    font-weight: 500;

    transition: all ease 0.4s;
}

.post__title:hover {
    color: var(--primary-color);
}

.post__meta {
    margin-bottom: 30px;

    color: var(--text-color);

    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3;
}

.post__meta-item {
    display: inline-block;
}

.post__meta-item + .post__meta-item {
    margin-left: 16px;
}

.post__meta i {
    margin-right: 4px;
    color: var(--primary-color);
}

.post__meta-tag a {
    text-decoration: none;
    color: var(--text-color);
}

.post__content {
    max-height: 7.56rem;
    margin-bottom: 50px;

    color: var(--text-color);

    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;

    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.post-read-more {
    color: var(--text-color);

    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;

    transition: all ease 0.2s;
}

.post-read-more:hover {
    color: var(--primary-color);
}

.post-read-more i {
    color: var(--text-color);

    font-size: 1.4rem;

    transform: translateX(0);
    transition: all ease 0.2s;
    will-change: transform;
}

.post-read-more:hover i {
    color: var(--primary-color);

    transform: translateX(4px);
    will-change: transform;
}

.sidebar-item {
    padding: 40px 30px;

    background-color: var(--white-color);
    box-shadow: 0 6px 25px rgb(0 0 0 / 7%);
}

.sidebar-item + .sidebar-item {
    margin-top: 24px;
}

.search__wrapper {
    position: relative;
}

.search-input {
    width: 100%;
    padding: 16px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    outline: none;
    color: #444444;
}

.search__icon {
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);

    font-size: 1.8rem;

    transition: all ease 0.4s;
    will-change: transform;
}

.search__icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.sidebar-item__title {
    position: relative;
    margin-bottom: 24px;

    color: var(--text-color);

    font-size: 2rem;
    font-weight: 500;

    user-select: none;
}

.sidebar-item__title::after {
    position: absolute;
    bottom: -10px;
    left: 0px;

    content: '';
    display: block;
    width: 16%;
    height: 2px;
    background-color: var(--primary-color);
}

.post-list {
    list-style: none;
}

.post-item {
    padding: 14px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.post-item:last-child {
    padding-bottom: 0;
}

.post-link {
    color: var(--text-color);

    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;

    transition: all ease 0.4s;
}

.post-link:hover {
    color: var(--primary-color);
}

.post-icon {
    margin-right: 8px;

    color: var(--text-color)!important;

    font-size: 1.6rem;
}